<section id="dashboard" class="h-100" data-user="{{userid}}">
     <div class="row">
          <div class="col-xs-6 col-md-3 col-xl-2 text-black mb-2">
               <select id="category_id" class="h-custom-2 ms-xl-4 form-select form-control-lg"
                    aria-label="Select Article Category">

               </select>
          </div>
          <div class="col-xs-6 col-md-3 col-xl-2 text-black mb-2">
               <select id="memberslist" class="h-custom-2 ms-xl-4 form-select form-control-lg"
                    aria-label="Select a member">
               </select>
          </div>
     </div>

     <div class="row">
          {{#each postRecords as | item |}}
          <div id="articlespost{{item.id}}" data-post="{{item.id}}" data-memberid="{{item.user.id}}"
               data-category="{{item.category.id}}" data-owner="{{item.user_id}}" class="col-sm-10 text-black mb-3">
               <div class="h-custom-2 ms-xl-4 pt-xl-0 mt-xl-n5" style="margin-bottom: 25px">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">

                                   <div class="row">
                                        <div class="col-md-4">
                                             <i class="bi bi-chat-heart" style="color: rgb(235, 175, 185);"></i>
                                             {{item.title}}
                                        </div>
                                        <div class="col-md-3">Author: {{item.user.name}}</div>

                                        <!-- Action buttons / break point -->
                                        <div class="col-md-5 text-right vertical-buttons">
                                             <a id="edit{{item.id}}" class="btn btn-success mr-1"
                                                  href="/articles/edit/{{item.id}}" hidden>
                                                  <i class="bi bi-pencil"></i> Edit Post!</a>
                                             <a id="delete{{item.id}}" class="btn btn-danger mr-1"
                                                  data-post="{{item.id}}" href="/articles/delete/{{item.id}}" hidden>
                                                  <i class="bi bi-trash-fill"></i> Delete Post!</a>
                                             <a class="btn btn-primary-post mr-1" href="/reviews/{{item.id}}"><i
                                                       class="bi bi-send"></i> Post a comment!</a>
                                        </div>

                                   </div>
                              </div>
                              <p id="categoryid{{item.category.id}}" class="pl-2"
                                   data-category-id="{{item.category.id}}">Category: <span
                                        class="category-color">{{item.category.name}}</span></p>
                              <p class="pl-2 px-2 card-text">{{item.description}}</p>
                         </div>
                    </div>

                    {{#if item.comments.length}}
                    {{!-- {{> replies item.comments}} --}}
                    {{#each item.comments as | row |}}
                    <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5 comment-user">
                         <div id="commentblock{{row.id}}" class="card-block">
                              <div class="card-body">
                                   <div class="card-title card-post-background" style="background-color: #5c6d6b">
                                        <div style="display: flex;justify-content: space-between;">
                                             <div>{{row.user.name}} - Commented on {{row.date_published}}</div>
                                        </div>
                                   </div>
                                   <p class="pl-2 card-text">{{row.comment}}</p>
                              </div>
                         </div>
                    </div>
                    {{/each}}
                    {{/if}}

               </div>

          </div>
          {{/each}}
     </div>
</section>

<script src="/js/category.js"></script>