<section id="dashboard" class="h-100" data-user="{{user_id}}">
     <div class="row">
          <div class="col-xs-12 col-md-3 col-xl-2 text-black mb-2">
               <select id="category_id" class="h-custom-2 ms-xl-4 form-select form-control-lg"
                    aria-label="Select post Category">

               </select>
          </div>
     </div>

     <div class="row">
          {{#each postRecords as | post |}}
          <div id="articlespost{{post.id}}" data-category="{{post.category.id}}" data-owner="{{post.user_id}}" class="col-sm-10 text-black mb-3">
               <div class="h-custom-2 ms-xl-4 pt-xl-0 mt-xl-n5" style="margin-bottom: 25px">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">

                                   <div class="row">
                                        <div class="col-sm-6">
                                             <i class="bi bi-chat-heart" style="color: rgb(235, 175, 185);"></i>
                                             {{post.title}}
                                        </div>
                                        <div class="col-sm-4">Author: {{post.user.name}}</div>
                                        <div class="col-sm-2 text-right">
                                             <a class="btn btn-primary-post" href="/reviews/{{post.id}}"
                                                  style="margin-right:5px;"><i class="bi bi-send"></i> Post a
                                                  comment!</a>
                                        </div>
                                   </div>
                              </div>
                              <p class="pl-2">Category: <span class="category-color">{{post.category.name}}</span></p>
                              <p class="pl-2 px-2 card-text">{{post.description}}</p>
                         </div>
                    </div>

                    {{#if post.comments.length}}
                    {{!-- {{> replies post.comments}} --}}
                    {{#each post.comments as | row |}}
                    <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5 comment-user">
                         <div id="commentblock{{row.id}}" class="card-block">
                              <div class="card-body">
                                   <div class="card-title card-post-background" style="background-color: #5c6d6b">
                                        <div style="display: flex;justify-content: space-between;">
                                             <div>{{row.user.name}} - Commented on {{row.date_published}}</div>
                                        </div>
                                   </div>
                                   <p class="pl-2 card-text">{{row.comment}}</p>
                              </div>
                              <div id="replycomment" hidden>
                                   <p class="pl-2 card-text">Would you like to reply?
                                        <a href="/reply/{{row.id}}" class="link-info">Click here</a>
                                   </p>
                              </div>
                         </div>
                    </div>
                    {{/each}}
                    {{/if}}

               </div>

          </div>
          {{/each}}
     </div>
</section>

<script src="/js/category.js"></script>