<section class="h-75">
     <div class="container-fluid">
          <div class="row">
               <div class="col-12 text-black">

                    <div class="d-flex h-custom-2">

                         <form id="edit-post" class="edit-post">
                              <input type="hidden" id="user_id" value="{{user_id}}">
                              <input type="hidden" id="articleid" value="{{dsData.id}}">
                              <input type="hidden" id="categoryid" value="{{dsData.category_id}}">

                              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Edit / Amend Post</h3>
                              <p>This is the original post you published. You can use HTML tags if you know how to use them.</p>

                              <div class="form-outline mb-4">
                                   <label class="form-label" for="email-login">Post Title</label>
                                   <input type="text" id="title" class="form-control form-control-lg" value="{{dsData.title}}"/>
                              </div>
                              <div class="form-outline mb-4">
                                   <select id="category_id" 
                                        class="form-select form-control-lg" 
                                        aria-label="Select post Category">
                                   </select>
                              </div>

                              <div class="form-outline mb-4">
                                   <textarea class="form-control" id="description" rows="12">{{dsData.description}}</textarea>
                              </div>

                              <div class="pt-1 mb-2">
                                   <button class="btn btn-info wide-button" type="submit">
                                        <i class="bi bi-send" style="color: rgb(52, 52, 238);"></i> Submit Article
                                   </button>
                                   <a class="btn btn-dark wide-button" href="/articles">
                                        <i class="bi bi-x-square-fill" style="color: rgb(102, 61, 61);"></i> Cancel</a>
                              </div>

                         </form>

                    </div>

               </div>
          </div>
     </div>
</section>

<script src="/js/editarticles.js"></script>