{{log dsData}}
<section class="h-100">
     <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-black mb-3">
               <div class="d-flex align-items-center h-custom-2 ms-xl-4 pt-xl-0 mt-xl-n5">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">
                                   <div style="display: flex;justify-content: space-between;">
                                        <div>{{dsData.post.title}}</div>
                                        <div style="padding-right:25px;">{{dsData.user.name}}</div>
                                   </div>
                              </div>
                              <p class="pl-2">Category : <strong>{{dsData.post.category.name}}</strong></p>
                              <p class="pl-2 card-text tuck-parragraph">{{dsData.post.description}}</p>
                              <p class="mt-4 pl-2 card-text">Comment:</p>
                              <p class="pl-2 card-text">{{dsData.comment}}</p>
                         </div>
                    </div>
               </div>
          </div>
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-black mb-3">
               <form id="create-reply" class="create-post form-flush-left">
                    <input type="hidden" id="userid" value="{{dsData.post.user_id}}">
                    <input type="hidden" id="comment_id" value="{{dsData.id}}">

                    <div class="d-flex flex-column">
                         <div class="d-flex flex-column h-custom-2">
                              <div class="card-title card-post-background">Pleae enter your reply</div>

                              <div class="mb-3">
                                   <textarea class="form-control" id="replycomment" rows="18"></textarea>
                              </div>
                         </div>
                         <div class="d-flex flex-column h-custom-2">
                              <button type="submit" class="btn btn-success">Submit</button>
                         </div>

                    </div>
               </form>
          </div>
     </div>
</section>

<script src="/js/reply.js"></script>